a(href="/beers/new")!= "New Beer"
  #beerList
    beers: {{beers}}
    table
      thead
        tr
          th Name
          th Brewer
      tbody(ng-repeat='beer in beers')
          tr
            td TODO:Name
            td TODO:Brewer
