extends layout

block body
  h1= title
  
  div(ng-view)

block scripts
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js')
  script(src='static/lib/bootstrap/js/bootstrap.min.js')
  script(src='static/lib/angular/angular.min.js')
  script(src='static/javascripts/app.js')
  script(src='static/javascripts/services.js')
  script(src='static/javascripts/controllers.js')
  script(src='static/javascripts/filters.js')
  script(src='static/javascripts/directives.js')
