extends layout

block body
  h1= title
  
  div(ng-view)
  
  //if (!dev) https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js
  script(src='static/lib/angular/angular.min.js')
  script(src='static/javascripts/app.js')
  script(src='static/javascripts/services.js')
  script(src='static/javascripts/controllers.js')
  script(src='static/javascripts/filters.js')
  script(src='static/javascripts/directives.js')
