extends layout

block content
  h1= title
  
  div(ng-view)
  
  //if (!dev) https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js
  script(src='lib/angular/angular.min.js')
  script(src='javascripts/app.js')
  script(src='javascripts/services.js')
  script(src='javascripts/controllers.js')
  script(src='javascripts/filters.js')
  script(src='javascripts/directives.js')
