extends layout

block content
  h1= title
  
  a(href="/beers/new")!= "New Beer"
  #beerList
    
    table
      thead
        tr
          th Name
          th Brewer
      tbody
        each beer in beers
          tr
            td #{beer.name}
            td #{beer.brewer}
